.app {
  text-align: center;
}
body {
  background-color: #b2f8dc;
}
.container {
  background-color: white;
  max-width: 80%;
  margin: 60px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
}
